@layer base {
  :root {
    @apply bg-black 
      text-white
      font-mono;
  }

  h1 {
    @apply text-4xl font-bold uppercase mb-10;
  }

  h2 {
    @apply text-3xl font-bold uppercase;
  }

  h3 {
    @apply text-2xl font-bold uppercase;
  }

  h4 {
    @apply text-xl font-bold uppercase;
  }

  h5 {
    @apply text-lg font-bold uppercase;
  }

  h6 {
    @apply text-base font-bold uppercase;
  }

  a:hover {
    @apply text-blue-400;
    p {
      @apply text-blue-400;
    }
  }

  p {
    @apply my-3 text-neutral-300;
  }

  /*   main {
    @apply overflow-scroll;
  } */
}
