@layer components {
  .header {
    @apply sticky z-10 top-0 py-16 bg-black/75 font-bold;

    .profile {
      @apply absolute right-20 flex items-center gap-12;
    }
  }

  .navbar {
    @apply !text-4xl mx-auto w-full max-w-[1600px];
    ul {
      @apply flex justify-start items-start gap-30;
    }

    /* etc... */
  }

  .footer {
    @apply fixed bottom-0 py-16 px-30 w-full flex justify-end items-center;
  }

  .button {
    @apply bg-blue-500 text-white p-2 rounded-md;
  }

  .contentful-page {
    @apply w-full max-w-[1600px] text-center;

    h2 {
      @apply mb-8;
    }

    ul {
      @apply py-4 flex flex-wrap justify-center gap-10;
    }

    li:has(.image-link) {
      @apply w-full;
    }
  }

  .portfolio-item {
    @apply rounded-lg flex flex-col text-center !bg-white/4;

    h1 {
      @apply mb-8;
    }

    p {
      @apply !text-neutral-300;
    }

    .image-wrapper,
    .image {
      @apply !rounded-ee-none !rounded-es-none w-full!;
    }
  }

  .portfolio-item-card {
    @apply transition-all my-12 p-8 rounded-lg flex flex-col text-center !bg-white/4;

    h3 {
      @apply mb-8;
    }

    .image-wrapper {
      @apply !max-h-[30vh];
    }

    .portfolio-item-text {
      @apply pb-0;
    }
  }

  .portfolio-item-card:hover {
    @apply cursor-pointer -translate-y-2 ring-8 ring-blue-500;

    p {
      @apply !text-neutral-100;
    }
  }

  .portfolio-item-text {
    @apply p-8;
  }

  .techstack-item {
    .image {
      @apply w-20 h-20 object-contain;
    }
  }
}
