@layer components {
  .header {
    @apply sticky z-10 top-0 py-16 bg-black/75 font-bold;

    @media (max-width: 1024px) {
      @apply py-8;
    }
  }

  .navbar {
    @apply !text-4xl mx-auto w-full max-w-[1600px];

    ul {
      @apply px-12 flex justify-start items-center gap-30;

      @media (max-width: 1780px) {
        @apply justify-center;
      }

      @media (max-width: 1024px) {
        @apply justify-around gap-0;
      }
    }
  }

  .footer {
    @apply max-w-[1600px] mx-auto py-16 px-11 w-full flex justify-end items-center;

    @media (max-width: 1780px) {
      @apply px-30;
    }

    @media (max-width: 1024px) {
      @apply justify-center;

      .profile > .image-wrapper {
        @apply hidden!;
      }
    }
  }

  .profile-link {
    @media (max-width: 1024px) {
      .profile-link-text {
        @apply hidden;
      }

      .image-wrapper {
        @apply inline-block!;
      }
    }
  }

  .profile {
    @apply flex items-center gap-4;

    @media (max-width: 1024px) {
      @apply justify-self-center;
    }
  }

  .button {
    @apply bg-green-700 rounded-md p-2 text-2xl text-white;
  }

  .contentful-page {
    @apply w-full max-w-[1504px] text-center;

    h2 {
      @apply my-8;
    }

    h2:first-of-type {
      @apply mt-0;
    }

    ul {
      @apply py-4 flex flex-wrap justify-center gap-10;
    }

    li:has(.image-link) {
      @apply w-full;
    }
  }

  .portfolio-item {
    @apply rounded-lg flex flex-col text-center !bg-white/4;

    h1 {
      @apply mb-8;
    }

    p {
      @apply !text-neutral-300;
    }

    .image-wrapper,
    .image {
      @apply !rounded-ee-none !rounded-es-none w-full!;
    }
  }

  .portfolio-item-card {
    @apply transition-all my-12 p-8 rounded-lg flex flex-col text-center !bg-white/4;

    h3 {
      @apply mb-8;
    }

    .image-wrapper {
      @apply !max-h-[30vh];
    }

    .portfolio-item-text {
      @apply pb-0;
    }
  }

  .portfolio-item-card:hover {
    @apply cursor-pointer -translate-y-2 ring-8 ring-blue-500;

    p {
      @apply !text-neutral-100;
    }
  }

  .portfolio-item-text {
    @apply p-8;
  }

  .techstack-item {
    .image {
      @apply w-20 h-20 object-contain;
    }
  }
}
